#jinja2: lstrip_blocks:True,trim_blocks:True
{# Copyright (C) 2018-2020 Robert Wimmer
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

[Interface]
# {{ inventory_hostname }}
Address = {{ address }}
PrivateKey = FILL_ME
ListenPort = {{ wireguard_port }}

{% include "peers.conf.j2" %}

{% include "unmanaged-peers.conf.j2" %}
